# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Python virtual environments
.venv/
venv/
__pycache__/

# MkDocs build output
site/

# Logs
*.log

#Obsidian layout
docs/.obsidian/workspace.json
docs/.obsidian/workspace-mobile.json
