.entity {
    color: #edeff0;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    padding: 2px 4px;
    border-style: groove;
    border-width: 2px;
}


.entity-bool {
    color: #950106;
    border-color: #590003;
}

.entity-int {
    color: #1fe1ad;
    border-color: #108969;
}

.entity-float {
    color: #38d004;
    border-color: #1b6d00;
}

.entity-name {
    color: #cd83f9;
    border-color: #5a22af
}

.entity-string {
    color: #fe00d2;
    border-color: #cb188c;
}

.entity-text {
    color: #ef79ad;
    border-color: #c02626;
}

.entity-vector {
    color: #fac51e;
    border-color: #b0690c;
}

.entity-rotator {
    color: #a1b7ff;
    border-color: #3e549e;
}


.entity-transform {
    color: #fe7202;
    border-color: #883600;
}

.entity-curvefloat {
    color: #02aefe;
    border-color: #006488;
}


.entity:hover {
    color: #e3f2fd;
}

.entity-highlight {
   color: #e3f2fd;
}

.entity-default {
    color: #6c6c6c;
    border-color: rgb(62, 84, 158, 0);
}

.entity-default:hover {
    color: #6c6c6c;
}

.entity-scope-l {
    filter: brightness(1.5) saturate(.5);
}

.entity-scope-f {
    filter: brightness(.7) saturate(.5);
}

.entity-popup {
    position: absolute;
    z-index: 1000;

    background: #1e1e1e;
    color: white;

    border: 1px solid #555;
    border-radius: 6px;

    padding: 12px;
    width: 300px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}


.entity-popup-title {
    font-size: 1.2em;
    font-weight: bold;
}


.entity-popup-meta {
    opacity: 0.7;
    font-size: 0.9em;
    margin-bottom: 8px;
}


.entity-go-definition {
    margin-top: 10px;
}


.entity-definition-highlight {
    animation: definition-flash 1.5s;
}


@keyframes definition-flash {

    0% {
        background-color: rgba(255,255,0,0.5);
    }

    100% {
        background-color: transparent;
    }

}
